html {
    font-size: 16px;
    /* 1rem */
    font-family: var(--tipografia);
}


/*seccion banner principal*/

.sct-banner {
    width: 100%;
}

.sct-banner .img-container {
    height: 350px;
}

.sct-banner .img-container img {
    width: 100%;
}


/*Secciones con flex
posters, camisas, tapetes, tazas, cubrebocas y elefantes*/

.col {
    padding: 5px;
    margin-bottom: 30px;
    width: 228.656px;
}

.col img {
    width: 100%;
    height: 100%;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.con-flex-col {
    display: flex;
    flex-direction: row;
}


/*Seccion blog*/

.col3 {
    padding: 5px;
    margin-bottom: 30px;
    width: 300px;
}

.col3 img {
    width: 100%;
    height: 100%;
}

.container-flex-3 {
    display: flex;
    flex-wrap: wrap;
}

.con-flex-col-3 {
    display: flex;
    flex-direction: row;
}