html {
    font-size: 16px;
    font-family: var(--poppins);
}


/*header*/

.header-principal nav {
    text-align: center;
}

.header-principal img {
    height: 48px;
    padding: 18px;
}

.header-principal .header-arriba {
    background: #3e3e3e;
    color: #fff;
    height: 45px;
    text-align: center;
}

.header-arriba p {
    padding-top: 16px;
}


/*seccion banner principal*/

.sct-banner {
    width: 100%;
    position: relative;
}

.sct-banner h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    color: var(--blanco);
    font-weight: 900;
    letter-spacing: 1px;
}

.sct-banner button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--turquesa);
    border: var(--turquesa);
    color: var(--blanco);
    cursor: pointer;
    font-size: 0.75rem;
    width: 140px;
    height: 40px;
}

.sct-banner .img-container img {
    width: 100%;
}


/*Seccion Chakra poster*/

.posters {
    height: 54px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.posters h2 {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
}

.posters p {
    color: var(--gris-claro);
    font-size: 0.875rem;
    font-style: italic;
}


/*Seccion Trending products*/

.trending {
    text-align: center;
}

.trending p {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
    margin-bottom: 30px;
    margin-top: 50px;
}

.trending .alineados button {
    font-family: var(--poppins);
    font-size: 1rem;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.trending .redondo {
    background: transparent;
    border: 1px solid var(--gris-oscuro);
    border-radius: 40px;
    color: var(--gris-oscuro);
    width: 100px;
}

.trending .sinborde {
    background: transparent;
    border: none;
    color: var(--gris-claro);
}


/*Seccion shipping worlwide*/

.shipping {
    text-align: center;
}

.shipping-container {
    background: var(--gris-oscuro);
    color: var(--blanco);
    height: 300px;
    padding-top: 30px;
    margin-top: 20px;
}

.shipping-container p {
    font-style: italic;
    font-size: 1.25rem;
    margin-top: 30px;
}

.shipping-container h2 {
    font-size: 3.125rem;
    font-weight: 900;
    margin-top: 30px;
}

.shipping-container .turquesa {
    color: var(--turquesa);
    font-size: 3.125rem;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 15px;
    margin-top: 10px;
}

.shipping-container .shop {
    border: 1px solid #fff;
    background: transparent;
    color: var(--blanco);
    width: 140px;
    height: 40px;
}


/*Seccion tapestry*/

.tapestry {
    height: 54px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.tapestry h2 {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
}

.tapestry p {
    color: var(--gris-claro);
    font-size: 0.875rem;
    font-style: italic;
}


/*Seccion you shop we give*/

.shop-give {
    text-align: center;
}

.shop-give-container {
    color: var(--blanco);
    background: #FF61C3;
    height: 250px;
    padding-top: 40px;
    margin-top: 30px;
}

.shop-give h2 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.shop-give p {
    font-size: 1.125rem;
    line-height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}


/*Seccion mugs*/

.mugs {
    height: 54px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.mugs h2 {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
}

.mugs p {
    color: var(--gris-claro);
    font-size: 0.875rem;
    font-style: italic;
}


/*Seccion blog-yoga*/

.sola {
    text-align: center;
}

.blog {
    background: #F7F7F7;
}

.blog .titulo {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
}

.col3 {
    width: 570px;
    height: 427.500px;
    padding: 5px;
    justify-content: center;
    margin-bottom: 140px;
}

.col3 img {
    width: 100%;
    height: 100%;
}

.container-flex-3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
}

.container-flex-3 h2 {
    font-size: 0.9375rem;
    font-weight: bolder;
    line-height: 20px;
    padding: 10px;
}

.container-flex-3 p {
    font-size: 0.9375rem;
    line-height: 25px;
    padding: 5px;
}


/*Boton view more*/

.view {
    text-align: center;
}

.view button {
    background: transparent;
    border: 1px solid var(--turquesa);
    color: var(--turquesa);
    font-family: var(--poppins);
    font-size: 0.8125rem;
    letter-spacing: 2px;
    width: 144.250px;
    height: 42px;
    margin-bottom: 30px;
}


/*seccion bandanas*/

.face-covering {
    height: 54px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.face-covering h2 {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
}

.face-covering p {
    color: var(--gris-claro);
    font-size: 0.875rem;
    font-style: italic;
}


/*Seccion subscribe*/

.subscribe {
    background: var(--gris-oscuro);
    color: var(--blanco);
    text-align: center;
}

.subscribe h2 {
    font-size: 1.625rem;
    padding-top: 60px;
    margin-bottom: 40px;
}

.subscribe input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 400px;
    margin-bottom: 30px;
}

.subscribe ::placeholder {
    font-size: 1.125rem;
    color: var(--blanco);
    text-align: center;
}

.subscribe button {
    border: 1px solid var(--turquesa);
    background: transparent;
    color: var(--turquesa);
    width: 120.531px;
    height: 38px;
    margin-bottom: 50px;
}


/*seccion elefantes*/

.cole {
    padding: 5px;
    justify-content: center;
    width: 280px;
    height: 280px;
}

.cole img {
    width: 100%;
    height: 100%;
}

.container-flex-e {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.elefantes {
    height: 54px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.elefantes h2 {
    color: var(--gris-oscuro);
    font-size: 1.25rem;
}

.elefantes p {
    color: var(--gris-claro);
    font-size: 0.875rem;
    font-style: italic;
}

.shirts {
    width: 150px;
    height: 62px;
    position: relative;
    top: -105px;
    margin-left: 60px;
    margin-top: 10px;
}

.hoodies {
    width: 150px;
    height: 62px;
    position: relative;
    top: -105px;
    margin-left: 65px;
    margin-top: 10px;
}

.tazas {
    width: 150px;
    height: 62px;
    position: relative;
    top: -105px;
    margin-left: 62px;
    margin-top: 10px;
}

.container-flex-e h3 {
    color: #4d5959;
    font-weight: bold;
    text-align: center;
    background: #fff;
    line-height: 20px;
    padding-top: 15px;
}


/*Seccion antes del footer*/

.seccion-antes-footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 40px;
}

.seccion-antes-footer h2 {
    font-size: 0.875rem;
}

.seccion-antes-footer p {
    font-size: 0.9375rem;
    color: var(--gris-claro);
    line-height: 40px;
}

.cuadro {
    width: 570px;
    height: 50px;
    padding: 5px;
    justify-content: center;
    margin-left: 60px;
}

.cuadro div {
    width: 100%;
    height: 100%;
}

.seccion-antes-footer i {
    color: var(--gris-claro);
    font-size: 2rem;
    position: relative;
    bottom: -34px;
}


/*Seccion Get in Touch*/


/*footer*/

footer .copyright {
    font-size: 0.9375rem;
    color: #808080;
    text-align: center;
    background: #2A2A2A;
    height: 106px;
    padding: 22px;
}

footer .copyright p {
    display: inline-block;
}

footer .copyright .color {
    color: var(--turquesa);
}

.menu-bottom {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    color: var(--blanco);
    background: #1F1F1F;
}

.menu-bottom h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
}

.menu-bottom p {
    font-size: 0.875rem;
    color: #808080;
    line-height: 40px;
}

.square {
    width: 350px;
    padding: 5px;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 30px;
}

.square div {
    width: 100%;
    height: 100%;
}

.newsletter {
    margin-left: 15px;
    width: 40%;
}

.newsletter input {
    background: transparent;
    border: 1px solid var(--gris-claro);
    border-radius: 25px;
    width: 350px;
    height: 42px;
    margin-bottom: 65px;
    margin-top: 15px;
}

.newsletter button {
    position: relative;
    margin-left: 240px;
    top: -106px;
    background: var(--turquesa);
    border-radius: 25px;
    border: none;
    color: #fff;
    height: 36px;
    width: 110px;
    font-family: var(--poppins);
    letter-spacing: 3px;
}


/*Load more products*/

.load {
    background: transparent;
    border: 1px solid var(--turquesa);
    color: var(--turquesa);
    font-family: var(--poppins);
    font-size: 0.8125rem;
    letter-spacing: 2px;
    width: 236px;
    height: 42px;
    margin-top: 30px;
}


/*Secciones con flex
camisas, tapetes, tazas, cubrebocas*/

.col {
    padding: 5px;
    justify-content: center;
    margin-bottom: 100px;
    width: 280px;
    height: 280px;
}

.col img {
    width: 100%;
    height: 100%;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.container-flex h2 {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 10px;
    line-height: 20px;
}

.container-flex p {
    font-size: 0.9375rem;
}


/*Secciones con flex
posters*/

.colp {
    padding: 5px;
    justify-content: center;
    margin-bottom: 80px;
    width: 570px;
    height: 570px;
}

.colp img {
    width: 100%;
    height: 100%;
}

.container-flex-poster {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.container-flex-poster h2 {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 10px;
    line-height: 20px;
}

.container-flex-poster p {
    font-size: 0.9375rem;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 480px) {
    .sct-banner h2 {
        font-size: 2.5rem;
        text-align: center;
        width: 50%;
    }
    .sct-banner button {
        top: 78%;
    }
    /*seccion flex*/
    .col {
        width: 220px;
        height: 220px;
    }
    .colp {
        width: 450px;
        height: 450px;
    }
    /*Seccion you shop we give*/
    .shop-give-container {
        height: 320px;
    }
    /*Seccion yoga*/
    .col3 {
        width: 450px;
        height: 337.500px;
    }
    /*seccion elefantes*/
    .cole {
        width: 220px;
        height: 220px;
    }
    .shirts {
        margin-left: 35px;
    }
    .hoodies {
        margin-left: 35px;
    }
    .tazas {
        margin-left: 35px;
    }
    .shipping-container {
        background: var(--gris-oscuro);
        color: var(--blanco);
        height: 320px;
        padding-top: 30px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .sct-banner h2 {
        font-weight: 900;
    }
    /*Seccion you shop we give*/
    .shop-give-container {
        height: 300px;
    }
    .shop-give h2 {
        font-size: 3.75rem;
    }
    /*Secciones con flex, posters, camisas, tapetes, tazas, cubrebocas*/
    .col {
        width: 228.656px;
        height: 228.656px;
    }
    .colp {
        width: 228.656px;
        height: 228.656px;
    }
    .container-flex {
        margin-left: 25px;
    }
    .container-flex-poster {
        margin-left: 25px;
    }
    /*Seccion blog*/
    .col3 {
        width: 348px;
        height: 261px;
    }
    .container-flex-3 {
        margin-left: 25px;
    }
    /*seccion elefantes*/
    .cole {
        width: 228.656px;
        height: 228.656px;
    }
    .container-flex-e {
        margin-left: 25px;
    }
    .shirts {
        margin-left: 35px;
    }
    .hoodies {
        margin-left: 35px;
    }
    .tazas {
        margin-left: 35px;
    }
    /*Seccion antes del footer*/
    .seccion-antes-footer {
        padding-top: 50px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .seccion-antes-footer h2 {
        font-size: 0.875rem;
    }
    .seccion-antes-footer p {
        font-size: 0.9375rem;
        color: var(--gris-claro);
        line-height: 40px;
    }
    .cuadro {
        width: 120px;
        height: 210px;
        padding: 5px;
        justify-content: center;
        margin-left: 15px;
    }
    .cuadro div {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .sct-banner button {
        top: 55%;
    }
    /*Secciones tapetes, posters, tazas, bandanas*/
    .col {
        width: 220px;
        height: 220px;
        padding: 15px;
    }
    .container-flex {
        margin-left: 15px;
    }
    .colp {
        width: 220px;
        height: 220px;
        padding: 15px;
    }
    .container-flex-poster {
        margin-left: 15px;
    }
    /*seccion shop-give*/
    .shop-give h2 {
        font-size: 3.75rem;
        font-weight: 900;
    }
    /*Seccion yoga*/
    .col3 {
        width: 303.984px;
        height: 227.984px;
        padding: 12px;
    }
    .container-flex-3 {
        margin-left: 20px;
    }
    /*Seccion elefantes*/
    .cole {
        width: 305.328px;
        height: 305.328px;
    }
    .container-flex-e {
        margin-left: 40px;
    }
    .shirts {
        margin-left: 80px;
    }
    .hoodies {
        margin-left: 85px;
    }
    .tazas {
        margin-left: 82px;
    }
    /*seccion antes del footer*/
    .seccion-antes-footer {
        margin-left: 40px;
    }
    .cuadro {
        width: 180px;
        height: 132px;
        margin-left: 10px;
    }
    /*footer*/
    .square {
        width: 140px;
        justify-content: center;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .menu-bottom .div1 {
        width: 200px;
    }
    .newsletter {
        margin-left: 15px;
        width: 25%;
    }
    .newsletter input {
        width: 250px;
    }
    .newsletter button {
        margin-left: 140px;
    }
}